@import "../../../../styles/variables";

.connect-btn {
  color: $primaryColor;
  border-color: $primaryColor;
  margin-left: 24px;
  transition: 0.2s all ease-in;
  display: flex;
  align-items: center;
  padding: 10px 24px;

  & > span {
    font-size: 16px;
  }

  &:hover {
    background-color: $primaryColor;
    color: white;
  }

  &:active {
    transform: translateY(-3px);
  }
}
