@import "../../../../../../styles/variables.scss";

.top-charity-carousel-btn {
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;

    & > .anticon {
        color: #4368E8;
    }

    &--disabled {
        opacity: .7;
    }
}