.transaction-details {
    width: 550px;
    margin-left: 25px;
    padding: 33px;
    background: #618AFB;
    box-shadow: 0px 5px 15px rgba(49, 86, 219, 0.6);
    color: white;
    text-align: left;
    align-self: baseline;

    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: 0.01em;
    }

    &__account {
        padding: 12px 25px;
        background: #7499FF;
        border-radius: 2px;
        margin-top: 45px;
    }

    &__receipt {
        padding: 20px 25px;
        background: #3156DB;        
        border-radius: 2px;
        margin-top: 12px;
    }
}

.details-info {
    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 12px;
    }

    &__label {
        font-family: "Readex-Light";
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        color: #F6FAFF;
    }

    &__text {
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #F6FAFF;

        & > strong {
            font-family: "Readex-Light";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            color: #F6FAFF;
        }

        & > .ant-image {
            margin-left: 12px;
            display: flex;
            align-items: center;
        }
    }
}

.details-account {
    &__title {
        font-family: "Readex-Light";
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        color: #F6FAFF;
    }

    &__details {
        display: flex;
        padding: 15px 21px;
        align-items: center;
        background: #F6FAFF;
        border: 0.698113px solid #C3D1ED;
        box-sizing: border-box;
        border-radius: 2.09434px;
        font-style: normal;
        font-weight: 400;
        font-size: 11.1698px;
        line-height: 14px;
        color: #A7B2C8;
    }

    &__banking {
        font-style: normal;
        font-weight: 400;
        font-size: 12.566px;
        line-height: 16px;
        color: #2F497F;
    }

    &__personal {
        margin-left: 15px;
        & > p {
            margin-bottom: 0;
            margin-top: 2px;
        }
    }
}

.details-receipt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Readex-Light";

    &__label {
        font-weight: 300;
        font-size: 18px;
        letter-spacing: 0.01em;
        color: #F6FAFF;
    }

    &__text {
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #F6FAFF;

        & > strong {
            font-family: "Readex-Light";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            color: #F6FAFF;
        }

        & > .ant-image {
            margin-left: 12px;
            display: flex;
            align-items: center;
        }
    }
}

.ant-skeleton-avatar, .ant-skeleton-title, .ant-skeleton-paragraph li {
    background-color: rgba(0,0,0,0.1) !important;
}