.profile-situation {
  background-color: #ffffff;
  padding: 41px 40px;

  &__container {
    display: flex;

    &__list-situation {
      width: 50%;

      &__title {
        font-size: 24px;
        color: #002169;
        margin-bottom: 50px;
      }

      &__cmnd {
        &__title-wrapper {
          display: flex;
          justify-content: space-between;

          & > div {
            font-size: 18px;
            color: #002169;
          }

          & > button {
            font-size: 16px;
            color: #a7b2c8;
            border: none;
          }
        }

        &__upload {
          &__title {
            top: 10px;
            background: #ffffff;
            padding: 5px;
            margin: 0 15px;
            font-size: 18px;
            color: #2f497f;
            z-index: 1000;
          }

          &__title:hover {
            background: #ffffff;
          }

          &__component {
            display: flex;
            flex-direction: column-reverse;

            button {
              width: 100%;
              height: 46px;
              font-size: 12px;
              color: #3156db;
              background-color: #f6faff;
            }

            .ant-upload-list-item {
              height: 77px;
              margin-top: 0;
            }
          }
        }
      }

      &__situation {
        margin-top: 43px;

        &__wrapper {
          display: flex;
          justify-content: space-between;

          & > div {
            font-size: 18px;
            color: #002169;
          }

          & > button {
            font-size: 16px;
            color: #a7b2c8;
            border: none;
          }

          &__title {
            display: flex;
            align-items: center;
          }
        }

        &__upload {
          &__title {
            top: 10px;
            background: #ffffff;
            padding: 5px;
            margin: 0 15px;
            font-size: 18px;
            color: #2f497f;
            z-index: 1000;
          }

          &__title:hover {
            background-color: #ffffff;
          }

          &__component {
            display: flex;
            flex-direction: column-reverse;

            button {
              width: 100%;
              height: 46px;
              font-size: 12px;
              color: #3156db;
              background-color: #f6faff;
            }

            .ant-upload-list-item {
              height: 77px;
              margin-top: 0;
            }
          }
        }
      }
    }

    &__divider {
      margin: 31px;
    }

    &__add-situation {
      width: 50%;

      &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 35px;

        & > div {
          font-size: 22px;
          color: #2f497f;
        }

        & > button {
          background-color: #cbcbcb;
          width: 155px;
          height: 51px;
        }
      }

      &__cascader {
        &__text {
          font-size: 16px !important;
          color: #a7b2c8 !important;
          margin: 15px 0 !important;
        }

        &__cascader {
          .ant-select-selection-item {
            background: #ffffff !important;
            border: none !important;
          }
        }

        .ant-tag {
          border-radius: 25px !important;
        }

        &__tags {
          min-height: 60px !important;
          margin: 20px 0 !important;

          &__tag {
            margin-bottom: 10px !important;
          }
        }
      }
    }
  }
}

.profile-situation-dropdown {
  & .ant-cascader-menu {
    width: 685px;
    height: auto;
    max-height: 118px;
  }
}

.ant-upload-list-picture .ant-upload-list-item-thumbnail img {
  object-fit: cover !important;
}
