@font-face {
    font-family: "Readex";
    src: url(
        "../fonts/ReadexPro-Regular.ttf"
    ); 
}

@font-face {
    font-family: "Readex-Bold";
    src: url(
        "../fonts/ReadexPro-Bold.ttf"
    ); 
}

@font-face {
    font-family: "Readex-Light";
    src: url(
        "../fonts/ReadexPro-Light.ttf"
    ); 
}

@font-face {
    font-family: "Readex-Medium";
    src: url(
        "../fonts/ReadexPro-Medium.ttf"
    ); 
}

@font-face {
    font-family: "Readex-ExtraLight";
    src: url(
        "../fonts/ReadexPro-ExtraLight.ttf"
    ); 
}


@font-face {
    font-family: "Readex-SemiBold";
    src: url(
        "../fonts/ReadexPro-SemiBold.ttf"
    ); 
}