@import "../../styles/variables.scss";

.my-carousel-btn {
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;

    & > .anticon {
        color: #4368E8;
    }

    &--disabled {
        opacity: .7;
    }

    &--transparent {
        border: 1px solid #4368E8;
        background-color: transparent;
        width: 18px;
        height: 18px;
    }
}