.profile-social-selection {
  overflow: auto;
  white-space: nowrap;

  &__item {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #a7b2c8;
    padding: 29px 24px 13px;
    display: inline-block;
    cursor: pointer;

    &--active {
      position: relative;
      transition: 0.2 all ease-in;
      color: #3156DB;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background-color: #3156DB;
        animation: infinite-spinning 0.3s ease-out forwards;
      }
    }
  }
  
  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes infinite-spinning {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
