.app-loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99999999999999999999999;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__text {
        font-size: 20px;
        font-family: 'Readex';
        font-style: normal;
        font-weight: 500;
        color: white;
    }
}