@import '../../styles/variables';

.ant-menu-horizontal, .ant-menu-item::after, .ant-menu-submenu::after {
    border: none !important;
}

.container {
    background-color: white;
}

.header {
    font-family: Readex;
    padding: 0px 75px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        cursor: pointer;
    }

    &__menu {
        width: 400px;
        margin-left: 90px;
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__right {
        display: flex;
        align-items: center;
    }
}

.search {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &:hover {
        &__input {
            display: block;
        }
    }

    &__input {
        transition: .2s all ease-in;
        border-radius: 20px;
        margin-right: 10px;
        max-width: 50%; /*Set max-wdith*/


        &:focus {
            max-width: 100%; /* Update the max-width of hover*/
        }
    }
}

.menu {
    &__icon {
        padding: 5px !important;
        line-height: normal;
        transition: .2s all ease-out !important;

        &:hover {
            & > span {
                color: $primaryColor !important;
            }

            transform: translateY(-2px);
        }

        & > span {
            color: #000000;
            font-size: 16px;
            font-weight: 400;
        }
        
        &:not(:first-child) {
            margin-left: 50px;
        }
    }
}

.connect-btn, .go-to-dashboard {
    color: $primaryColor;
    border-color: $primaryColor;
    margin-left: 24px;
    transition: 0.2s all ease-in;
    display: flex;
    align-items: center;
    padding: 10px 24px;
  
    & > span {
      font-size: 16px;
    }
  
    &:hover {
      background-color: $primaryColor;
      color: white;
    }
  
    &:active {
      transform: translateY(-3px);
    }
}

.go-to-dashboard {
    margin-left: 25px;
}
