@import "../../styles/variables";

.main-layout {
  &__sider {
    &__menu {
      
      &__item {
        height: 64px !important;
        margin: 0 !important;
        font-size: 16px;
      }

      .ant-menu-item-selected {
        border-left: 4px solid #002169;
      }

      .ant-menu-item-selected::after {
        display: none;
      }
    }

    &__img {
      height: 150px;
      padding: 34px 0 0 26px;
    }
  }

  &__site-layout {
    &__header {
      height: 88px;
      background-color: #002169;
      padding: 0 49px 0 64px !important;

      &__search {
        width: 500px;
        margin: 19px 0;

        & > span > input {
          border: none;
          background-color: #2f4980;
          height: 46px;
          width: 454px !important;
        }

        & > span > span {
          background-color: #2f4980;
          height: 46px;
          width: 46px !important;
        }

        & > span > span > button {
          color: #a7b2c8;
          background-color: #2f4980;
          border: none;
        }
      }

      &__group-avatar {
        float: right;
        height: 88px;
        right: 0;
        // width: 240px;
        color: #ffffff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;

        &__date {
          margin: 0 15px;
          padding: 0;
        }

        &__avatar {
          height: 50px;
          width: 50px;
          margin-left: 15px;
        }
      }
    }
  }
}

.connect-btn {
  color: $primaryColor;
  border-color: $primaryColor;
  margin-left: 24px;
  transition: 0.2s all ease-in;
  display: flex;
  align-items: center;
  padding: 10px 24px;

  & > span {
    font-size: 16px;
  }

  &:hover {
    background-color: $primaryColor;
    color: white;
  }

  &:active {
    transform: translateY(-3px);
  }
}

.connected-account {
  display: flex;
  align-items: center;
  margin-left: 20px;
  background-color: white;
  padding: 5px 15px;
  border-radius: 30px;
  color: #142D85;
  height: 40px;

  &__balance {
      margin: 0;
      margin-right: 10px;
  }

  &__addr {
      padding: 5px 10px;
      background-color: #142D85;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      border-radius: 30px;
  }
}

.switch-network {
  & > span {
    color: $primaryColor;
  }
}

.wrong-network, .switch-network {
  display: flex;
  align-items: center;
  margin-left: 30px;
  background: white;
  color: #F33B2F;
  padding: 5px 15px;
  border-radius: 30px;
  height: 40px;

  &__txt {
      margin-left: 5px;
      margin-bottom: 0;
      font-weight: 600;
      font-size: 14px;
  }
}

.selected-network {
  display: flex;
  align-items: center;
  background-color: #ECECEC;
  height: 40px;
  color: white;
  padding: 5px 15px;
  border-radius: 30px;
  color: black;

  &__icon {
      width: 25px;
      height: 25px;
      object-fit: cover;
  }

  &__txt {
      margin-bottom: 0;
      margin-left: 15px;
  }
}