@import "../../../../../../styles/variables";

.category-card {
    max-width: 350px;

    & > .ant-card-body {
        padding: 0 !important;
    }

    &__avatar {
        & > .ant-image {
            height: 162px;
            width: 100%;
        }

        & .ant-image-img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__body {
        padding: 0px 20px;
        margin-top: 14px;
        margin-bottom: 16px;
    }

    &__name {
        margin-top: 15px;
        font-style: normal;
        font-weight: 500;
        font-size: 16.992px;
        color: black !important;
        cursor: pointer;
    }

    &__desc {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        color: #B4B4B4;
        display: -webkit-box;
        line-height: 1.4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: $lines-to-show;
    }

    &__circumstances {
        display: flex;

        & > * {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }

    &__circumstance {
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        padding: 6px 17px;
        background-color: #F3F3F3;
    }

    &__divider {
        width: 1px;
        height: 48px;
        background-color: #EDEDED;
    }

    &__metrics {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;

        & > * {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__trust {
        margin-right: 20px;
    }

    &__metrics-block {
        & > p {
            color: #909090;
            font-style: normal;
            font-weight: 500;
            font-size: 9.912px;
        }
        & > span {
            font-style: normal;
            font-weight: normal;
            font-size: 19.824px;
        }
    }

    &__tier {
        & > span {
            color: #52BFD6;
        }
    }

    &__trust {
        & > span {
            color: #977EF4;
        }
    }
}