.select-buy-amount {
    padding: 40px;
    background-color: white;
    text-align: left;
    margin-top: 35px;

    & .ant-input-number-wrapper {
        border: 1px solid #C3D1ED;
        border-radius: 3px;
    }

    &__input {
        width: 100%;
        border: none;
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #C3D1ED;
    }

    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        color: #002169 !important;
    }

    &__input-title {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        letter-spacing: 0.01em;
        color: #2F497F;
        margin-top: 56px;
    }

    &__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 12px 45px;

        & > p {
            margin-bottom: 0;
        }
    }

    &__btn {
        font-family: 'Readex-Light';
        padding: 20px 49px;
        background: #3156DB;
        display: flex;
        align-items: center;
        justify-self: center;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        color: #F6FAFF;
        margin-top: 30px;
    }

    &__rate {
        margin-top: 10px;
        font-family: 'Readex-Light';
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.01em;
        color: #2F497F;
    }

    &__addOns {
        display: flex;
        align-items: center;
    }

    &__max {
        padding: 5px 20px;
        background-color: #002169;
        color: white;
        border-radius: 50px;
        margin-left: 20px;
        cursor: pointer;
        transition: .2s all ease-in;

        &:hover {
            background-color: #3156DB;
        }
    }

    .ant-input-number-group .ant-input-number {
        float: none;
    }
    
    .ant-input-number-input-wrap {
        margin-top: 20px;
        border: none;
    }
    
    .ant-input-number-group-addon {
        border: none;
        background-color: transparent;
        padding: 0;
        position: relative;
    
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 50%;
            background-color: #E0E6F1;
        }
    }
}