.profile-drawer {
  top: 88px;
  position: absolute;
  height: 1050px;

  &__btn-submit {
    position: absolute;
    top: 24px;
    right: 20px;
    height: 50px;
    width: 155px;
  }

  &__text {
    font-size: 16px;
    color: #a7b2c8;
    margin: 15px 0;
  }

  &__cascader {
    .ant-select-selection-item {
      background: #ffffff;
      border: none;
    }
  }

  .ant-tag {
    border-radius: 25px;
  }

  &__tags {
    min-height: 60px;
    margin: 20px 0;

    &__tag {
      margin-bottom: 10px;
    }
  }

  &__cmnd {
    &__title {
      top: 15px;
      background: #ffffff;
      padding: 5px;
      margin: 0 15px;
    }

    &__wrapper {
      &__container {
        display: flex;
        flex-direction: column-reverse;

        & .ant-upload-select-text button {
          width: 100%;
          height: 45px;
          background-color: #F6FAFF;
          font-size: 12px;
          color: #3156DB;
        }

        & .ant-upload-list-text {
          height: 80px;
          display: flex;
          align-items: center;
          border: 1px solid #E0E6F1;
          padding: 0 20px;
        }
      }
    }
  }
}
