.fallback-loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 9999;
    display: flex;
    align-items: center;
    z-index: 989999999999999999999;
}

.PhotoView-Portal {
    z-index: 200000;
}