.profile-person {
  background-color: #ffffff;
  padding: 37px 40px;

  &__title {
    font-size: 24px;
    color: #002169;
    margin-bottom: 20px;
  }

  &__description {
    font-size: 14px;
    color: #a7b2c8;
    margin-bottom: 50px;
  }

  &__container {
    display: flex;

    &__avatar {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 132px;
      color: #3156db;
      font-size: 20px;

      & > span {
        margin-bottom: 26px;
      }

      button {
        color: #3156db;
        border: none;
      }
    }

    &__information {
      &__form {
        max-width: 600px;
        &__form-item {
          & > div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            & > div:first-child > label {
              color: #2f497f;
              font-size: 18px;
            }
          }

          .ant-form-item-control {
            width: 100%;

            & input {
              height: 40px;
            }
          }
        }

        &__submit {
          height: 56px;
          width: 258px;
          font-size: 20px;
          background-color: #3156DB;
        }
      }
    }
  }
}
