.profile-cascader {
  &__text {
    font-size: 16px;
    color: #a7b2c8;
    margin: 15px 0;
  }

  &__cascader {
    .ant-select-selection-item {
      background: #ffffff;
      border: none;
    }
  }

  .ant-tag {
    border-radius: 25px;
  }

  &__tags {
    min-height: 60px;
    margin: 20px 0;

    &__tag {
      margin-bottom: 10px;
    }
  }
}
